@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.continer {
    width: 100%;
    height: 100vh;
    color: hsl(0, 0%, 100%);
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.logo {
    margin-bottom: 50px;
    padding-left: 30px;
}

.main {
    display: flex;
    margin: 0 30px;
}

.information {
    margin: 0 50px;
}

.information__tittle {
    font-family: 'Poppins', sans-serif;
    max-width: 400px;
}

.information__extracto {
    max-width: 460px;
}

.register {
    border: none;
    cursor: pointer;
    padding: 15px 60px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px 5px hsl(257, 47%, 33%);
    color: hsl(257, 40%, 49%);
    font-size: 1em;
    font-weight: 400;
    margin-top: 10px;
}

.register:hover {
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 0%, 100%);
}

.social {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.attribution {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
}

@media(max-width:1024px) {

    #imagen,
    .picture{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        padding-left: 70px;
        margin-bottom: 20px;
    }
}

@media(max-width:1020px) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }

    .continer {
        height: 100%;
        background-image: url(../images/bg-mobile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #imagen,
    .picture {
        width: 100%;
    }

    .logo {
        margin-top: 50px;
        padding-left: 25px;
        margin-bottom: 20px;
    }

    .logo__imagen {
        width: 40%;
    }

    .information {
        margin: 0;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .information__tittle {
        max-width: 300px;
        font-size: 1.5em;
        text-align: center;
    }

    .information__extracto {
        max-width: 300px;
        font-size: 1em;
        text-align: center;
    }

    .register {
        display: flex;
        justify-content: center;
    }
    .attribution {
        font-size: .7em;
    }
    .social {
        position: relative;
        right: 0px;
        bottom: 0px; 
        margin-top: 50px;
    }
    .register {
        padding: 13px 80px;
    }
}

@media(max-width:1024px) {

    #imagen,
    .picture {
        width: 90%;
    }
}